[submodule "histogram"]
	path = histogram
	url = git@github.com:mpg-age-bioinformatics/shiny-histogram
[submodule "LifeSpanCurves"]
	path = LifeSpanCurves
	url = git@github.com:mpg-age-bioinformatics/shiny-LifeSpanCurves
[submodule "VennDiagram"]
	path = VennDiagram
	url = git@github.com:mpg-age-bioinformatics/shiny-VennDiagram
[submodule "cellplot"]
	path = cellplot
	url = git@github.com:mpg-age-bioinformatics/shiny-cellplot
[submodule "david"]
	path = david
	url = git@github.com:mpg-age-bioinformatics/shiny-david
[submodule "dendogram"]
	path = dendogram
	url = git@github.com:mpg-age-bioinformatics/shiny-dendogram
[submodule "heatmap"]
	path = heatmap
	url = git@github.com:mpg-age-bioinformatics/shiny-heatmap
[submodule "mds"]
	path = mds
	url = git@github.com:mpg-age-bioinformatics/shiny-mds
