[submodule "histogram"]
	path = histogram
	url = https://github.com/mpg-age-bioinformatics/shiny-histogram
[submodule "LifeSpanCurves"]
	path = LifeSpanCurves
	url = https://github.com/mpg-age-bioinformatics/shiny-LifeSpanCurves
[submodule "VennDiagram"]
	path = VennDiagram
	url = https://github.com/mpg-age-bioinformatics/shiny-VennDiagram
[submodule "cellplot"]
	path = cellplot
	url = https://github.com/mpg-age-bioinformatics/shiny-cellplot
[submodule "david"]
	path = david
	url = https://github.com/mpg-age-bioinformatics/shiny-david
[submodule "dendogram"]
	path = dendogram
	url = https://github.com/mpg-age-bioinformatics/shiny-dendogram
[submodule "heatmap"]
	path = heatmap
	url = https://github.com/mpg-age-bioinformatics/shiny-heatmap
[submodule "mds"]
	path = mds
	url = https://github.com/mpg-age-bioinformatics/shiny-mds
[submodule "pca"]
	path = pca
	url = https://github.com/mpg-age-bioinformatics/shiny-pca
[submodule "scatterplot"]
	path = scatterplot
	url = https://github.com/mpg-age-bioinformatics/shiny-scatterplot
[submodule "tsne"]
	path = tsne
	url = https://github.com/mpg-age-bioinformatics/shiny-tsne
[submodule "circbarplot"]
	path = circbarplot
	url = https://github.com/mpg-age-bioinformatics/shiny-circbarplot.git
[submodule "violinplots"]
	path = violinplots
	url = git@github.com:mpg-age-bioinformatics/shiny-violinplots
